@import "miscs";

:root {
	--bg-colour: #f1f0f0;
	--main-colour: #cbb7ac;
	--secondary-colour: #8b7866;
	--text-colour: #5d4e3f;
}

.green {
	--bg-colour: #e9ffea;
	--main-colour: #a2d5ac;
	--secondary-colour: #74ac7a;
	--text-colour: #549a56;
}
.blue {
	--bg-colour: #e9fcff;
	--main-colour: #a2c7d5;
	--secondary-colour: #84acd5;
	--text-colour: #5e94ba;
}
.pink {
	--bg-colour: #ffe9ee;
	--main-colour: #d5a2ad;
	--secondary-colour: #d5849c;
	--text-colour: #ba5e70;
}
.dark {
	--bg-colour: #202020;
	--main-colour: #c8c8c8;
	--secondary-colour: #d5cfcf;
	--text-colour: #dad7d7;
}
.light {
	--bg-colour: #ffffff;
	--main-colour: #c8c8c8;
	--secondary-colour: #898989;
	--text-colour: #555555;
}
.brown {
	--bg-colour: #f1f0f0;
	--main-colour: #cbb7ac;
	--secondary-colour: #8b7866;
	--text-colour: #5d4e3f;
}

body {
	display: grid;
	grid-template-columns: 50% 50%;
	height: 100vh;
	gap: 2px;
	overflow: hidden;

	.right_side {
		@include flex(normal);
		height: 100vh;
		width: 100%;
	}

	.left_side {
		@include flex(jend);

		//  The Menu Section
		#menu_section {
			@include flex(acencol);
			font-size: 1.1rem;
			background-color: #f1f0f0;
			color: #535352;
			padding: 35px;
			padding-right: 15px;
			border-radius: 5px;
			gap: 40px;
			max-width: 80%;
			font-family: "Onest", sans-serif;
			box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
			height: 600px;
			width: 620px;
			overflow: scroll;
			overflow-x: hidden;

			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			-ms-border-radius: 5px;
			-o-border-radius: 5px;

			#fqaLink {
				position: absolute;
				top: 20px;
				left: 20px;
				font-size: 2rem;
				color: #5d4e3f;
			}

			/* Chrome, Edge and Safari */
			&::-webkit-scrollbar {
				height: 8px;
				width: 25px;
			}

			&::-webkit-scrollbar-track {
				border-radius: 40px;
				border: solid 50px transparent;
				-webkit-border-radius: 40px;
				-moz-border-radius: 40px;
				-ms-border-radius: 40px;
				-o-border-radius: 40px;
			}

			&::-webkit-scrollbar-thumb {
				border-radius: 40px;
				background-color: #8b7866;
				border-radius: 10px;
				border: 10px solid #f1f0f0;
				cursor: grab;
			}

			&::-webkit-scrollbar-thumb:hover {
				background-color: #5d4e3f;
				cursor: grab;
			}

			&::-webkit-scrollbar-thumb:active {
				background-color: #5d4e3f;
				cursor: grab;
			}

			.title_container {
				@include flex(column);
				gap: 10px;

				h1 {
					font-family: "Bacasime Antique", serif;
					font-weight: 600;
					font-size: 2.5rem;
				}

				span {
					@include flex(acen);
					gap: 5px;
					font-size: 1rem;

					img {
						width: 43%;
					}
				}
			}

			.options_container {
				@include flex(jcencol);
				gap: 40px;
				width: 100%;

				.mySelect {
					background-color: #cbb7ac;

					&:hover {
						background-color: #cbb7ac !important;
					}
					transition: 250ms;
					-webkit-transition: 250ms;
					-moz-transition: 250ms;
					-ms-transition: 250ms;
					-o-transition: 250ms;
				}

				h3 {
					font-family: "Bacasime Antique", serif;
					font-size: 2rem;
					margin-bottom: 10px;
					display: flex;
					justify-content: space-between;

					&:hover {
						color: #9b836c;
						cursor: pointer;
					}
				}

				.give_unique_name .select_wrapper {
					display: block;

					#extraInfo,
					#errorMsg {
						font-size: 0.9rem;
					}

					#extraInfo {
						border-left: 4px solid #5d4e3f;
						padding-left: 15px;
					}

					#errorMsg {
						color: #ba1616;
						padding: 6px 0;
					}

					input {
						border: 2px solid #cbb7ac;
						border-radius: 7px;
						background-color: #fbf9f9;
						outline: none;
						padding: 7px;
						width: 100%;
						display: block;
						font-family: "Onest", sans-serif;
						font-size: 1rem;
						color: inherit;
						margin: 20px 0;
					}
				}

				.select_wrapper {
					@include flex(jcen);
					flex-wrap: wrap;
					gap: 10px;
					font-size: 1rem;

					.select_item {
						@include flex(normal);
						cursor: pointer;
						flex: 0 0 calc(25% - 10px);
						text-align: center;
						border: 2px solid #cbb7ac;
						padding: 6px 9px;
						border-radius: 7px;
						-webkit-border-radius: 7px;
						-moz-border-radius: 7px;
						-ms-border-radius: 7px;
						-o-border-radius: 7px;

						&:hover {
							background-color: #cdbbaa4b;
						}
						transition: 250ms;
						-webkit-transition: 250ms;
						-moz-transition: 250ms;
						-ms-transition: 250ms;
						-o-transition: 250ms;
					}
				}

				.select_font_title .select_item {
					&:nth-child(1) {
						font-family: "Gloock", serif;
						font-size: 0.95rem;
					}
					&:nth-child(2) {
						font-family: "Geologica", sans-serif;
					}
					&:nth-child(3) {
						font-family: "Pixelify Sans", sans-serif;
					}
					&:nth-child(4) {
						font-family: "Gideon Roman", serif;
					}
					&:nth-child(5) {
						font-family: "Playfair", serif;
					}
					&:nth-child(6) {
						font-family: "Ysabeau SC", sans-serif;
					}
				}

				.select_font_body .select_item {
					&:nth-child(1) {
						font-family: "Onest", sans-serif;
					}
					&:nth-child(2) {
						font-family: "Geologica", sans-serif;
					}
					&:nth-child(3) {
						font-family: "Gideon Roman", serif;
					}
					&:nth-child(4) {
						font-family: "Playfair", serif;
					}
					&:nth-child(5) {
						font-family: "Ubuntu Mono", monospace;
					}
					&:nth-child(6) {
						font-family: "Courier Prime", monospace;
					}
				}
			}

			.embed_link_container {
				width: 100%;

				.input_wrapper {
					@include flex(column);
					width: 100%;
					gap: 10px;

					input[type="text"] {
						border: 2px solid #cbb7ac;
						border-radius: 7px;
						background-color: #fbf9f9;
						outline: none;
						padding: 7px;
						width: 100%;
						display: block;
						font-family: "Onest", sans-serif;
						font-size: 1rem;
						color: inherit;
					}

					button {
						padding: 7px;
						outline: none;
						border: 2px solid #cbb7ac;
						cursor: pointer;
						font-family: "Onest", sans-serif;
						font-size: 1rem;
						color: inherit;

						&:hover,
						&:focus,
						&:active {
							background-color: #cdbbaa4b;
						}

						border-radius: 7px;
						-webkit-border-radius: 7px;
						-moz-border-radius: 7px;
						-ms-border-radius: 7px;
						-o-border-radius: 7px;
					}
				}

				h3 {
					font-family: "Bacasime Antique", serif;
					font-size: 2rem;
					margin-bottom: 10px;
					text-align: justify;
				}
			}
		}
	}

	// The FQAs Section
	#help_section {
		display: flex;
		align-items: center;
		flex-direction: column;
		width: 30%;
		background-color: var(--bg-colour);
		padding: 25px;
		padding-left: 35px;
		border-radius: 20px;
		color: #474746;
		box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
		font-family: "Onest", sans-serif;
		position: relative;
		max-height: 50%;
		overflow: auto;

		figure {
			padding: 10px 0;
			width: 100%;
			@include flex(column);
			gap: 4px;

			img {
				width: 50%;
			}
			video {
				width: 80%;
				margin-bottom: 20px;
			}

			figcaption {
				font-size: 0.9rem;
				padding-bottom: 4px;
			border-bottom: 1px solid #5d4e3f;
			}
		}

		footer {
			border-top: 2px solid var(--secondary-colour);
			padding-top: 10px;
			width: 100%;
			margin-top: 20px;
			text-align: center;
		}

		
		/* Chrome, Edge and Safari */
		&::-webkit-scrollbar {
			height: 8px;
			width: 25px;
		}

		&::-webkit-scrollbar-track {
			border-radius: 40px;
			-webkit-border-radius: 40px;
			-moz-border-radius: 40px;
			-ms-border-radius: 40px;
			-o-border-radius: 40px;
		}

		&::-webkit-scrollbar-thumb {
			border-radius: 10px;
			background-color: #8b7866;
			border-radius: 10px;
			border: 10px solid #f1f0f0;
			cursor: grab;
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			-ms-border-radius: 10px;
			-o-border-radius: 10px;
}

		&::-webkit-scrollbar-thumb:hover {
			background-color: #5d4e3f;
			cursor: grab;
		}

		&::-webkit-scrollbar-thumb:active {
			background-color: #5d4e3f;
			cursor: grab;
		}

		#backLink{
			position: absolute;
			top: 39px;
			left: 40px;
			color: var(--text-colour);
			font-size: 2rem;

		}

		.container {
			display: flex;
			flex-direction: column;
			gap: 30px;
			width: 100%;

			p {
				padding: 8px 0;
			}

			ol,
			ul {
				margin-left: 25px;

				li {
					padding: 4px 0;
				}
			}

			code {
				font-family: "Courier Prime", monospace;
				background-color: white;
				padding: 2px 6px;
				border-radius: 6px;
				-webkit-border-radius: 6px;
				-moz-border-radius: 6px;
				-ms-border-radius: 6px;
				-o-border-radius: 6px;
			}
		}

		h1,
		h2,
		h3 {
			padding-left: 10px;
			font-weight: 400;
			width: 100%;
			text-align: left;
			color: var(--text-colour);
		}

		h1 {
			padding: 7px 10px;
			font-family: "Bacasime Antique", serif;
			font-weight: 600;
			font-size: 2.5rem;
			border-bottom: 2px solid var(--secondary-colour);
			text-align: center;
			margin-bottom: 25px;
		}

		h2 {
			border-left: 4px solid #5d4e3f;
			margin-bottom: 10px;
		}
	}

	//  The Render Section
	#render_section {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		background-color: var(--bg-colour);
		padding: 15px;
		border-radius: 20px;

		&::selection {
			background-color: var(--main-colour) !important;
		}

		min-width: 450px;
		max-width: 450px;
		min-height: 220px;
		max-height: 220px;

		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		-ms-border-radius: 20px;
		-o-border-radius: 20px;
		box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);

		h1 {
			text-align: center;
			padding: 7px 10px;
			border-bottom: 2px solid var(--secondary-colour);
			font-weight: 400;
			width: 100%;
			margin-bottom: 10px;
			color: var(--text-colour);
		}

		.container {
			display: flex;
			flex-direction: column;
			gap: 10px;
			width: 100%;

			.itemBox {
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 1rem;
				gap: 10px;
				padding: 6px;
				padding-left: 33px;
				border: 2px solid var(--main-colour);
				border-radius: 7px;
				display: block;
				position: relative;
				user-select: none;
				background-color: var(--bg-colour);
				-webkit-border-radius: 7px;
				-moz-border-radius: 7px;
				-ms-border-radius: 7px;
				-o-border-radius: 7px;

				input[type="text"] {
					border: none;
					border-bottom: 2px solid var(--main-colour);
					outline: none;
					background-color: var(--bg-colour);
					padding-bottom: 3px;
					color: var(--text-colour);
					width: 100%;
				}

				.checkmark {
					position: absolute;
					top: 6px;
					left: 0;
					height: 20px;
					width: 20px;
					margin-left: 6px;
					border: 2px solid var(--main-colour);
					border-radius: 5px;
					-webkit-border-radius: 5px;
					-moz-border-radius: 5px;
					-ms-border-radius: 5px;
					-o-border-radius: 5px;
					cursor: pointer;
					display: flex;
					justify-content: center;
					align-items: center;
					color: var(--text-colour);
					font-size: 0.8rem;
					// transition: 250ms;
					// -webkit-transition: 250ms;
					// -moz-transition: 250ms;
					// -ms-transition: 250ms;
					// -o-transition: 250ms;
					// &:hover {
					// 	color: rgba(128, 128, 128, 0.466);
					// }

					// &.clicked {
					// 	color: var(--secondary-colour);
					// }
				}
			}
		}
	}
}

.render_wrapper {
	@include flex(normal);
}

.hide {
	// change to flex when unhidden
	// display: none !important;
	opacity: 0.2;
	position: absolute;
	bottom: -1000px;
}

a {
	text-decoration: underline wavy #cbb7ac;
	color: var(--secondary-colour);
	font-weight: bold;

	&:hover {
		color: var(--main-colour);
	}
}
