@import url("https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Onest&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geologica&family=Gideon+Roman&family=Gloock&family=Pixelify+Sans&family=Playfair:opsz@5..1200&family=Ysabeau+SC&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-colour: #f1f0f0;
  --main-colour: #cbb7ac;
  --secondary-colour: #8b7866;
  --text-colour: #5d4e3f;
}

body {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100vh;
  gap: 2px;
}
body .right_side {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
body .left_side {
  display: flex;
  justify-content: end;
  align-items: center;
}
body .left_side #menu_section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.1rem;
  background-color: #f1f0f0;
  color: #535352;
  padding: 35px;
  border-radius: 5px;
  gap: 40px;
  max-width: 80%;
  font-family: "Onest", sans-serif;
  box-shadow: 0px 2px 7px rgba(191, 191, 191, 0.808);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
body .left_side #menu_section .title_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
body .left_side #menu_section .title_container h1 {
  font-family: "Bacasime Antique", serif;
  font-weight: 600;
  font-size: 2.5rem;
}
body .left_side #menu_section .title_container span {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1rem;
}
body .left_side #menu_section .title_container span img {
  width: 43%;
}
body .left_side #menu_section .options_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
body .left_side #menu_section .options_container h3 {
  font-family: "Bacasime Antique", serif;
  font-size: 2rem;
}
body .left_side #menu_section .options_container .select_wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 1rem;
}
body .left_side #menu_section .options_container .select_wrapper .select_item {
  cursor: pointer;
  flex: 0 0 calc(25% - 10px);
  text-align: center;
  border: 2px solid var(--main-colour);
  padding: 6px 9px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
body #render_section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--bg-colour);
  padding: 15px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: 0px 2px 7px rgba(191, 191, 191, 0.808);
}
body #render_section h1 {
  text-align: center;
  padding: 7px 10px;
  border-bottom: 2px solid var(--secondary-colour);
  font-weight: 400;
  width: 100%;
  margin-bottom: 10px;
  color: var(--text-colour);
}
body #render_section .container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body #render_section .container .itemBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 6px;
  padding-left: 33px;
  border: 2px solid var(--main-colour);
  border-radius: 7px;
  display: block;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background-color: var(--bg-colour);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
body #render_section .container .itemBox input[type=text] {
  border: none;
  border-bottom: 2px solid var(--main-colour);
  outline: none;
  background-color: var(--bg-colour);
  padding-bottom: 3px;
  color: var(--text-colour);
}
body #render_section .container .itemBox .checkmark {
  position: absolute;
  top: 6px;
  left: 0;
  height: 20px;
  width: 20px;
  margin-left: 6px;
  border: 2px solid var(--main-colour);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--bg-colour);
  transition: 250ms;
  -webkit-transition: 250ms;
  -moz-transition: 250ms;
  -ms-transition: 250ms;
  -o-transition: 250ms;
}
body #render_section .container .itemBox .checkmark:hover {
  color: rgba(128, 128, 128, 0.466);
}
body #render_section .container .itemBox .checkmark.clicked {
  color: var(--secondary-colour);
}/*# sourceMappingURL=main.css.map */