@import url("https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Onest&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geologica&family=Gideon+Roman&family=Gloock&family=Pixelify+Sans&family=Playfair:opsz@5..1200&family=Ysabeau+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&family=Ubuntu+Mono&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-colour: #ffffff;
  --main-colour: #c8c8c8;
  --secondary-colour: #898989;
  --text-colour: #555555;
}

.green {
  --bg-colour: #e9ffea;
  --main-colour: #a2d5ac;
  --secondary-colour: #74ac7a;
  --text-colour: #549a56;
}

.blue {
  --bg-colour: #e9fcff;
  --main-colour: #a2c7d5;
  --secondary-colour: #84acd5;
  --text-colour: #5e94ba;
}

.pink {
  --bg-colour: #ffe9ee;
  --main-colour: #d5a2ad;
  --secondary-colour: #d5849c;
  --text-colour: #ba5e70;
}

.dark {
  --bg-colour: #201e1e;
  --main-colour: #c8c8c8;
  --secondary-colour: #d5cfcf;
  --text-colour: #dad7d7;
}

.light {
  --bg-colour: #ffffff;
  --main-colour: #c8c8c8;
  --secondary-colour: #898989;
  --text-colour: #555555;
}

.brown {
  --bg-colour: #f1f0f0;
  --main-colour: #cbb7ac;
  --secondary-colour: #8b7866;
  --text-colour: #5d4e3f;
}

body {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100vh;
  gap: 2px;
  overflow: hidden;
}
body .right_side {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
body .left_side {
  display: flex;
  justify-content: end;
  align-items: center;
}
body .left_side #menu_section {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1.1rem;
  background-color: #f1f0f0;
  color: #535352;
  padding: 35px;
  padding-right: 15px;
  border-radius: 5px;
  gap: 40px;
  max-width: 80%;
  font-family: "Onest", sans-serif;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
  height: 600px;
  width: 620px;
  overflow: scroll;
  overflow-x: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  /* Chrome, Edge and Safari */
}
body .left_side #menu_section::-webkit-scrollbar {
  height: 8px;
  width: 25px;
}
body .left_side #menu_section::-webkit-scrollbar-track {
  border-radius: 40px;
  box-shadow: inset 0 0 10px 10px green;
  border: solid 50px transparent;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}
body .left_side #menu_section::-webkit-scrollbar-thumb {
  border-radius: 40px;
  background-color: #8b7866;
  border-radius: 10px;
  border: 10px solid #f1f0f0;
  cursor: grab;
}
body .left_side #menu_section::-webkit-scrollbar-thumb:hover {
  background-color: #5d4e3f;
  cursor: grab;
}
body .left_side #menu_section::-webkit-scrollbar-thumb:active {
  background-color: #5d4e3f;
  cursor: grab;
}
body .left_side #menu_section .title_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
body .left_side #menu_section .title_container h1 {
  font-family: "Bacasime Antique", serif;
  font-weight: 600;
  font-size: 2.5rem;
}
body .left_side #menu_section .title_container span {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1rem;
}
body .left_side #menu_section .title_container span img {
  width: 43%;
}
body .left_side #menu_section .options_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}
body .left_side #menu_section .options_container .mySelect {
  background-color: #cbb7ac;
  transition: 250ms;
  -webkit-transition: 250ms;
  -moz-transition: 250ms;
  -ms-transition: 250ms;
  -o-transition: 250ms;
}
body .left_side #menu_section .options_container .mySelect:hover {
  background-color: #cbb7ac !important;
}
body .left_side #menu_section .options_container h3 {
  font-family: "Bacasime Antique", serif;
  font-size: 2rem;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
body .left_side #menu_section .options_container h3:hover {
  color: #9b836c;
  cursor: pointer;
}
body .left_side #menu_section .options_container .select_wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 1rem;
}
body .left_side #menu_section .options_container .select_wrapper .select_item {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex: 0 0 calc(25% - 10px);
  text-align: center;
  border: 2px solid #cbb7ac;
  padding: 6px 9px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  transition: 250ms;
  -webkit-transition: 250ms;
  -moz-transition: 250ms;
  -ms-transition: 250ms;
  -o-transition: 250ms;
}
body .left_side #menu_section .options_container .select_wrapper .select_item:hover {
  background-color: rgba(205, 187, 170, 0.2941176471);
}
body .left_side #menu_section .options_container .select_font_title .select_item:nth-child(1) {
  font-family: "Gloock", serif;
  font-size: 0.95rem;
}
body .left_side #menu_section .options_container .select_font_title .select_item:nth-child(2) {
  font-family: "Geologica", sans-serif;
}
body .left_side #menu_section .options_container .select_font_title .select_item:nth-child(3) {
  font-family: "Pixelify Sans", sans-serif;
}
body .left_side #menu_section .options_container .select_font_title .select_item:nth-child(4) {
  font-family: "Gideon Roman", serif;
}
body .left_side #menu_section .options_container .select_font_title .select_item:nth-child(5) {
  font-family: "Playfair", serif;
}
body .left_side #menu_section .options_container .select_font_title .select_item:nth-child(6) {
  font-family: "Ysabeau SC", sans-serif;
}
body .left_side #menu_section .options_container .select_font_body .select_item:nth-child(1) {
  font-family: "Onest", sans-serif;
}
body .left_side #menu_section .options_container .select_font_body .select_item:nth-child(2) {
  font-family: "Geologica", sans-serif;
}
body .left_side #menu_section .options_container .select_font_body .select_item:nth-child(3) {
  font-family: "Gideon Roman", serif;
}
body .left_side #menu_section .options_container .select_font_body .select_item:nth-child(4) {
  font-family: "Playfair", serif;
}
body .left_side #menu_section .options_container .select_font_body .select_item:nth-child(5) {
  font-family: "Ubuntu Mono", monospace;
}
body .left_side #menu_section .options_container .select_font_body .select_item:nth-child(6) {
  font-family: "Courier Prime", monospace;
}
body .left_side #menu_section .embed_link_container {
  width: 100%;
}
body .left_side #menu_section .embed_link_container .input_wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 10px;
}
body .left_side #menu_section .embed_link_container .input_wrapper input[type=text] {
  border: 2px solid #cbb7ac;
  border-radius: 7px;
  background-color: #fbf9f9;
  outline: none;
  padding: 7px;
  width: 100%;
  display: block;
  font-family: "Onest", sans-serif;
  font-size: 1rem;
  color: inherit;
}
body .left_side #menu_section .embed_link_container .input_wrapper button {
  padding: 7px;
  outline: none;
  border: 2px solid #cbb7ac;
  cursor: pointer;
  font-family: "Onest", sans-serif;
  font-size: 1rem;
  color: inherit;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
body .left_side #menu_section .embed_link_container .input_wrapper button:hover, body .left_side #menu_section .embed_link_container .input_wrapper button:focus, body .left_side #menu_section .embed_link_container .input_wrapper button:active {
  background-color: rgba(205, 187, 170, 0.2941176471);
}
body .left_side #menu_section .embed_link_container h3 {
  font-family: "Bacasime Antique", serif;
  font-size: 2rem;
  margin-bottom: 10px;
  text-align: justify;
}
body #render_section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--bg-colour);
  padding: 15px;
  border-radius: 20px;
  min-width: 250px;
  max-width: 250px;
  min-height: 220px;
  max-height: 220px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
}
body #render_section h1 {
  text-align: center;
  padding: 7px 10px;
  border-bottom: 2px solid var(--secondary-colour);
  font-weight: 400;
  width: 100%;
  margin-bottom: 10px;
  color: var(--text-colour);
}
body #render_section .container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
body #render_section .container .itemBox {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  gap: 10px;
  padding: 6px;
  padding-left: 33px;
  border: 2px solid var(--main-colour);
  border-radius: 7px;
  display: block;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background-color: var(--bg-colour);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
body #render_section .container .itemBox input[type=text] {
  border: none;
  border-bottom: 2px solid var(--main-colour);
  outline: none;
  background-color: var(--bg-colour);
  padding-bottom: 3px;
  color: var(--text-colour);
  width: 100%;
}
body #render_section .container .itemBox .checkmark {
  position: absolute;
  top: 6px;
  left: 0;
  height: 20px;
  width: 20px;
  margin-left: 6px;
  border: 2px solid var(--main-colour);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--bg-colour);
  transition: 250ms;
  -webkit-transition: 250ms;
  -moz-transition: 250ms;
  -ms-transition: 250ms;
  -o-transition: 250ms;
}
body #render_section .container .itemBox .checkmark:hover {
  color: rgba(128, 128, 128, 0.466);
}
body #render_section .container .itemBox .checkmark.clicked {
  color: var(--secondary-colour);
}

.hide {
  opacity: 0.2;
  position: absolute;
  bottom: -100px;
}/*# sourceMappingURL=main.css.map */