@import url("https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Onest&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geologica&family=Gideon+Roman&family=Gloock&family=Pixelify+Sans&family=Playfair:opsz@5..1200&family=Ysabeau+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&family=Ubuntu+Mono&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Phones */
@media screen and (max-width: 500px) {
  body #menu_section {
    max-width: 350px !important;
    margin-top: 60px;
    padding: 25px !important;
    padding-right: 35px;
  }
  #fqaLink {
    top: 10px !important;
    left: 10px !important;
    font-size: 1.6rem;
    color: #5d4e3f;
  }
  footer {
    font-size: 0.9rem;
  }
  footer a {
    -webkit-text-decoration: underline wavy #cbb7ac;
            text-decoration: underline wavy #cbb7ac;
  }
}
/* Mid Screens */
@media screen and (min-width: 501px) and (max-width: 900px) {
  body #menu_section {
    max-width: 450px !important;
    margin-top: 40px;
    padding: 35px;
    padding-right: 35px;
  }
}
@media screen and (max-width: 900px) {
  body {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    overflow: auto;
    overflow-x: hidden;
    max-height: 80vh;
    gap: 5%;
    max-width: 100%;
    justify-items: center;
    grid-auto-flow: row-reverse;
  }
  body .left_side {
    justify-content: center !important;
    max-width: 100% !important;
    order: -1;
    /* The Menu Section */
  }
  body .left_side #menu_section .title_container {
    gap: 13px;
  }
  body .left_side #menu_section .title_container h1 {
    font-size: 1.9rem;
    text-align: center;
  }
  body .left_side #menu_section .title_container img {
    width: 40%;
  }
  body .left_side #menu_section .options_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 35px;
    width: 100%;
  }
  body .left_side #menu_section .options_container h3 {
    font-size: 1.6rem;
    margin-bottom: 15px;
  }
  body .left_side #menu_section .options_container .select_item {
    font-size: 0.9rem;
    flex: 0 0 calc(33.3% - 10px);
  }
  body .left_side #menu_section .options_container .select_font_title .select_item {
    font-size: 0.8rem;
  }
  body .left_side #menu_section .options_container .select_font_body .select_item {
    font-size: 0.8rem;
  }
  body .left_side #menu_section .embed_link_container {
    width: 100%;
  }
  body .left_side #menu_section .embed_link_container h3 {
    font-size: 1.6rem;
    margin-bottom: 15px;
    text-align: left;
  }
  body .left_side #menu_section .embed_link_container .input_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }
  body .left_side #menu_section .embed_link_container .input_wrapper input[type=text] {
    font-size: 0.9rem;
  }
  body .left_side #menu_section .embed_link_container .input_wrapper div {
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: 10px;
  }
  body .left_side #menu_section .embed_link_container .input_wrapper button {
    padding: 6px;
    font-size: 0.8rem;
    width: 100%;
  }
  body .right_side {
    order: 1;
    height: auto !important;
    max-width: 400px !important;
  }
  body .right_side #render_section {
    margin-bottom: 70px;
    transform: scale(0.75);
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    -ms-transform: scale(0.75);
    -o-transform: scale(0.75);
  }
  .hide {
    top: -508px;
    bottom: 2168px;
  }
  #help_section {
    width: 90% !important;
    max-height: 100% !important;
    margin-top: 150px;
    padding-left: 25px !important;
  }
  #help_section figure img {
    width: 80% !important;
  }
  #help_section figure video {
    width: 90% !important;
  }
  #help_section figure figcaption {
    font-size: 0.8rem !important;
  }
  #help_section footer {
    border-top: 2px solid var(--secondary-colour);
    padding-top: 10px;
    width: 100%;
    margin-top: 20px;
    text-align: center;
  }
  #help_section #backLink {
    left: 30px !important;
    top: 28px !important;
    font-size: 1.8rem !important;
  }
  #help_section h1,
  #help_section h2,
  #help_section h3 {
    padding-left: 10px;
    font-weight: 400;
    width: 100%;
    text-align: left;
    color: var(--text-colour);
  }
  #help_section h1 {
    padding: 7px 10px;
    font-family: "Bacasime Antique", serif;
    font-weight: 600;
    font-size: 1.8rem !important;
    border-bottom: 2px solid var(--secondary-colour);
    text-align: center;
    margin-bottom: 25px;
  }
  #help_section h2 {
    border-left: 4px solid #5d4e3f;
    margin-bottom: 10px;
    font-size: 1.2rem !important;
  }
}/*# sourceMappingURL=responsive.css.map */